@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap%27');

body{
    background-image: url(https://cdn.discordapp.com/attachments/875877164027879444/910737870317293628/fundo.png);
}

span{
    font-size: 2rem;
}

.baba{
    color: rgb(175, 106, 129);
}

.pais{
    color: blue;
}

.header{
    font-family: 'Poppins', 'sans-serif';
}

.card_1{
    background-color: #FFD5CF;
    border-radius: 40px;
    border: 5px solid #000000;
    border-color: black;
    width: 322px;
    height: 423px;
}
.card_2{
    background-color: #FFEBC2;
    border-radius: 40px;
    border: 5px solid #000000;
    border-color: black;
    width: 528px;
    height: 325px;
}
.card_3{
    background-color: #E6BDFF;
    border-radius: 40px;
    border: 5px solid #000000;
    border-color: black;
    width: 528px;
    height: 325px;
}
.card_4{
    background-color: #D0FFE3;
    border-radius: 40px;
    border: 5px solid #000000;
    border-color: black;
    width: 322px;
    height: 423px;
}