/********************************************************************
						ARQUIVO DO SITE COMPLETO
********************************************************************/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
	background-image: url('../images/fundo.png');
	background-size: cover;
}

.container-principal{
	max-width: 1280px;
	margin:0 auto;
    padding: 0 10px;
}

a{
	text-decoration: none!important;
	color: black!important;
}

li a:hover{
    color: #C1C1C8!important;
    transition: 0.5s!important;
}

.nav-menu{
	padding-top: 10px;
	justify-content: space-between;
	display: flex;
	height: 70px;
}

.nav-menu-wrapper{
    width: 100%;
    position: fixed;
    z-index: 9999;
    background-color: rgba(255,255,255,0.8);
}

.lista-menu-principal{
	display: flex;
	margin-top: 5px;
	cursor: pointer;
}

.lista-menu-principal > li:hover{
	color: white!important;
	transition: 0.5s!important;
}

li{
	list-style-type: none;
	margin: 5px 40px;
    font-weight: bold;
}

.lista-sub-menu{
	cursor: pointer;
	display: none;	
	text-align: center;
	margin-top: 5px;
	position: relative;
}

.lista-sub-menu li{
	background-color: rgba(237,237,237, 0.3);
	left: -10px;
	padding: 5px 20px;
}

.lista-sub-menu li:hover{
	background-color: rgb(255,255,255);
}

.lista-sub-menu a:hover{
    color: black!important;
}

.minha-conta{
    margin-top: 5px;
	background-color: #D4C5CB;
	border: 2px solid black;
	border-radius: 20px;
	padding: 3px 10px;
	font-size: 18px;
	position: relative;
	height: 35px;
    font-weight: bold;
    background: radial-gradient(100% 1081.68% at 0% 27.78%, #DCD6D6 5.21%, #D9C9D3 100%);
    filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.3));
}

/********************************************************************
						HOME PAGE
********************************************************************/


a:any-link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

.f1 {
    width: 850.99px;
    height: 220px;
    left: 27px;
    top: 180px;
    font-weight: bolder;
    font-size: 40px;
}

.f2 {
    width: 259px;
    height: 99.73px;
    left: 27px;
    font-size: 20px;
    font-weight: bold;
    top: 390px;
}

.header {
    display: flex;
    justify-content: space-between;
    background-size: 100% auto;
    padding-top: 40px;
    padding-bottom: 40px;
}

.content-home {
    display: flex;
    justify-content: center;
    background-size: 100% auto;
    padding: 80px;
    
}

.home-body{
	background-color: white!important;
}

.bold {
    font-weight: bold;
}

.x1 {
    background-image: url(../images/fundo.png);
    background-size: cover;
    background-position: center;
}

body {
    font-family: 'Poppins', sans-serif;
}

.navbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    font-weight: bolder;
}

.space {
    margin: 50px;
}

.button {
    width: 210px;
    height: 75px;
    font-size: 20px;
    font-weight: bolder;
    border: 2px solid #000000;
    box-sizing: border-box;
    filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.3));
    border-radius: 50px;
    background: radial-gradient(100% 1081.68% at 0% 27.78%, #DCD6D6 5.21%, #D9C9D3 100%);
}

.button2 {
    width: 90px;
    height: 39px;
    font-size: 18px;
    outline: none;
    font-weight: bolder;
    border: 2px solid #000000;
    box-sizing: border-box;
    filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.3));
    border-radius: 50px;
    background: radial-gradient(100% 1081.68% at 0% 27.78%, #DCD6D6 5.21%, #D9C9D3 100%);
}

.imgheader {
    filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.5));
}

.cardboxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.boxdesign {
    background: radial-gradient(100% 1000% at 0% 0%, #B1D1E2 0%, #EABDBD 99.98%, #FFB8B8 99.99%, rgba(184, 214, 230, 0) 100%);
    filter: drop-shadow(6px 6px 10px rgba(2, 2, 2, 0.3));
    border-radius: 30px;
    width: 230px;
    height: 275px;
    margin: 40px;
}

.boxdesign img {
    position: relative;
    width: 102px;
    border-radius: 100%;
    top: -51px;
    left: 64px;

}

.checked {
    color: #8BB8DB;
}

.starsposition {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -10px;
}

.boxcontent {
    display: flex;
    flex-direction: row;
}

.justifytxt {
    display: flex;
    flex-direction: row;
    padding-inline-start: 10px;
}

IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.fundos {
    background-image: url(../images/elipses.png);
    background-color: white!important;
    background-size: cover;
    background-position: center;
    padding: 50px 0;

}

.z1 {
    text-align: center;
    margin-top: 10px;
}

.final {
	padding: 40px 0;
    background-color: white!important;
    text-align: center;
}

.a1 {
    background: linear-gradient(180deg, #E7F1F8 0%, rgba(200, 227, 247, 0) 100%);
    border: 2px solid #D8EDFC;
    filter: drop-shadow(7px 7px 10px rgba(1, 1, 1, 0.25));
    border-radius: 25px;
}

.a2 {
    background: linear-gradient(180deg, #E1DCF5 0%, rgba(226, 219, 253, 0) 100%);
    border: 2px solid rgba(200, 187, 250, 0.7);
    filter: drop-shadow(7px 7px 10px rgba(0, 0, 0, 0.25));
    border-radius: 25px;
}

.a3 {
    background: linear-gradient(180deg, #FFE2E6 0%, rgba(251, 224, 227, 0) 100%);
    border: 2px solid rgba(255, 205, 211, 0.7);
    filter: drop-shadow(7px 7px 10px rgba(0, 0, 0, 0.25));
    border-radius: 25px;
}

.cardF1 {
    text-align: center;

}

.cardF2 {
    text-align: center;


}

.cardF3 {
    text-align: center;


}

.p1 {
    margin-top: 20px;
}

.pesquisa {
    width: 500px;
}

.z1 input{
    border: none!important;
}

#cidade {
    border: none;
    background-color: #ECE6E6;
}

/********************************************************************
						PÁGINA PERFIL PUBLICO
********************************************************************/

/********************************************************************
                        PAGINA PERFIL
********************************************************************/


.titulo{
    position: absolute;
    width: 779px;
    height: 100px;
    left: 330px;
    top: 100px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
    color: #000000;
}
.ordem1{
    position: absolute;
    width: 25px;
    height: 20px;
    left: 138px;
    top: 255px;
    border-radius: 10px;
    border-style: groove;
    border: 1px solid #000000;
}
.card1{
    position: absolute;
    width: 322px;
    height: 423px;
    left: 100px;
    top: 250px;
    background: #FFD5CF;
    border: 5px solid #000000;
    box-sizing: border-box;
    border-radius: 40px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;

}
.ordem2{
    position: absolute;
    width: 25px;
    height: 20px;
    left: 235px;
    top: 155px;
    border-radius: 10px;
    border-style: groove;
    border: 1px solid #000000;
}
.card2{
    position: absolute;
    width: 528px;
    height: 288px;
    left: 450px;
    top: 250px;
    text-align: center;
    background: #FFEBC2;
    border: 5px solid #000000;
    box-sizing: border-box;
    border-radius: 35.3531px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
}
.ordem3{
    position: absolute;
    width: 25px;
    height: 20px;
    left: 215px;
    top: 155px;
    border-radius: 10px;
    border-style: groove;
    border: 1px solid #000000;
}
.card3{
    position: absolute;
    width: 480px;
    height: 243px;
    left: 473px;
    top: 580px;
    text-align: center;
    background: #E6BDFF;
    border: 5px solid #000000;
    box-sizing: border-box;
    border-radius: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
}
.ordem4{
    position: absolute;
    width: 25px;
    height: 20px;
    left: 138px;
    top: 255px;
    border-radius: 10px;
    border-style: groove;
    border: 1px solid #000000;
}

.card4{
    position: absolute;
    width: 322px;
    height: 423px;
    left: 1016px;
    top: 250px;
    background: #D0FFE3;
    border: 5px solid #000000;
    box-sizing: border-box;
    border-radius: 40px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 1rem;
}


/*----- INÍCIO CSS PESQUISA -----*/

#divPartePesquisa{
    margin-top: 30px;
    height: 200px;
    font-family: 'Poppins', sans-serif;
}

#formPesquisa{
    background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.5), rgba(3, 17, 30, 0.2));
    width: 45%;
    height: 34%;
    border-radius: 15px;
    margin-top: 50px;
    align-items: center;
    align-content: center;    
    position: relative;
}

#imgLupa{
    margin-left: 15%; 
    margin-right: 15%;
    margin-top: 10%;
    margin-bottom: 10%;
    width: 30px; 
    height: 30px;
}

.inputPesquisa{
    margin-left: 10px;
    width: 82%;
    height: 80%;
    background-color: transparent;    
    border-color: transparent;
    outline: none;
}

#botaoPesquisar{
    border-radius: 15px; 
    background-color: white;
    width: 100px;
    height: 100%;
    position: absolute;
    right: 0;
}

/*------ FIM CSS PESQUISA ------*/


/*------------------------------*/


/*------ INÍCIO CSS TEXTO ------*/

#divTextoTroca{
    height: 100px;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

#textoTroca{
    margin-left: 70px;
    width: 430px;
    height: 60%;
    font-size: 18px;
    color: black;
    font-weight: bold;
}

#quadradoTroca{
    margin-left: 4px; 
    width: 40px;
    border-radius: 6px;
}

/*------ FIM CSS TEXTO ------*/


/*------------------------------*/


/*------ INÍCIO CSS CARDS ------*/

.dados h4{
    font-weight: bold;
    font-size: 22px;
}

.dados h6{
    max-width: 55ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#divCards{
    font-family: 'Poppins', sans-serif;
}

.Card{
    margin-left: 70px;
    display: inline-flex;
    box-shadow: 3px 3px 3px gray;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom: 100px;
    margin-right: 100px;
}

.dados{
    background-image: linear-gradient(140deg, rgba(255, 255, 255, 0.5), rgba(3, 17, 30, 0.2));
    width: 350px;
    padding: 10px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

.estrelasPesquisa{
    display: flex;
    justify-content: space-between;
}

.styleEstrelas{
    color: #8BB8DB;
    position: relative;
    top: 3px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    padding-left: 3px;
    padding-right: 3px;
}

.classificaçãoCardPesquisa{
    color: #8BB8DB;
    margin-left: 3px;
    font-weight: bold;
    font-size: 15px;
}

.disponibilidade{
    display: flex;
    justify-content: space-between;
}


/*------- FIM CSS CARDS --------*/


/********************************************************************
                        PERIL PUBLICO PAIS
********************************************************************/


.justificado{
    text-align: justify;
    
}


.margem{
    margin: 5px 5px 5px 5px;
}

.negrito{
    font-weight: bold;
}

.perfil-publico{
    margin: 20px 20px 20px 20px;

}

.info-perfil-servico-wrapper{    
    background-color: rgba(255,255,255,0.4);
    padding: 10px;
}

.info-perfil-servico{
    display: flex;
}

.info-perfil-servico img{
    margin-right: 30px;
}

.servico-textarea textarea{
    background-color: #ECECEC;
    padding: 10px 10px;
    height: 200px;
    width: 400px;
    border-radius: 5px;
    font-size: 20px;
    border: none;
    resize: none;
}

.canditar-servico button{
    background-color: rgba(255,255,255, 0.5);
    border: none;
    font-size: 26px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 30px;
    margin-top: 60px;
    -webkit-box-shadow: 10px 10px 21px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 21px -10px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 21px -10px rgba(0,0,0,0.75);
}

.canditar-servico button:hover{
    transition: 0.5s;
    transform: scale(1.1);
}

.babas-candidatas img{
    width: 100px;
}


/********************************************************************
						MEDIA QUERIES
********************************************************************/

