/********************************************************************
						ARQUIVO DO PAINEL ADMINISTRATIVO
********************************************************************/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;	
}

body{
	background-image: url('../images/fundo.png');
	background-size: cover;
}

a{
	text-decoration: none;
	color: black;
}

.container-principal{
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 10px;
}

.nav-bar{
	padding-top: 10px;
	display: flex;
	justify-content: space-between;
}

.minha-conta{
	background-color: #D4C5CB;
	border: 3px solid black;
	border-radius: 20px;
	padding: 3px 10px;
	font-size: 18px;
	position: relative;
	height: 35px;
}

/*-------------------------------------------------------
					INICIO TELA-LOGIN
-------------------------------------------------------*/

.tela-login{
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	padding-top: 5%;
	color: black!important;
	font-weight: bold;
}

.login-box{
	-webkit-box-shadow: 10px 10px 15px -6px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 15px -6px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 15px -6px rgba(0,0,0,0.75);
	width: 450px;
	background-color: white;
	border-radius: 10px;
	padding: 40px 60px;
	background-color: rgba(255,255,255,0.2);
}

.login-box h2{
	text-align: center;
}

.login-box a{
	font-size: 14px;
	text-decoration: none;
	margin-left: 30px!important;
	text-align: center!important;
}

.input input{
	border: none;
	width: 100%;
	color: black;
	font-size: 14px;
	font-weight: bold;
	background-color: rgba(0,0,0,0);
}

input:focus{
	box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.input{
	padding: 10px 5px;
	display: flex;
	margin: 10px auto;
	width: 100%;
	border: black 1px solid;
	border-radius: 10px;
}

.login-box button{
	cursor: pointer;
	font-weight: bold;
	color: white;
	height: 40px;
	border: none;
	border-radius: 10px;
	width: 100%;
	background-color: #2D76EA;
}

form{
	margin-top: 20px;
}

/*-------------------------------------------------------
					INICIO TELA-CADASTRO
-------------------------------------------------------*/

.tela-cadastro{
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	padding-top: 5%;
}

.cadastro-box{
	-webkit-box-shadow: 10px 10px 15px -6px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 15px -6px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 15px -6px rgba(0,0,0,0.75);
	background-color: white;
	border-radius: 10px;
	padding: 40px 20px;
	background-color: rgba(255,255,255,0.2);
}

.cadastro-box h2, p{
	text-align: center;
	margin: 10px 0;
}

.input-box{
	display: flex;
	justify-content: space-between;
}

.input-box input{
	width: 300px;
	background-color: #ECECEC;
	padding: 15px 10px;
	border-radius: 5px;
	border: none;
}

.input-direita{
	margin-left: 50px;
}

.input-box input:focus{
	border: 1px solid black;
}

.cadastro-box button{
	cursor: pointer;
	font-weight: bold;
	color: white;
	height: 40px;
	border: none;
	border-radius: 10px;
	width: 200px;
	margin: 0 auto;
	background-color: #2D76EA;
}

.confirma-cadastro{
	display: flex;
	flex-direction: column;
	align-content: center;

}

/*-------------------------------------------------------
					SELECIONAR-PERFIL
-------------------------------------------------------*/

.selecionar-perfil{
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	width: 100%;
	padding-top: 50px;
}

.selecionar-perfil h2, h3{
	margin: 10px 0;
}

.selecionar-perfil-wrapper{
	display: flex;
}

.selecionar-perfil-box{
	cursor: pointer;
	margin: 40px 20px;	
	padding: 40px;
	border-radius: 20px;
	-webkit-box-shadow: 10px 10px 22px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 22px -5px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 22px -5px rgba(0,0,0,0.75);
}

.selecionar-perfil-box img{
	width: 80%;
	width: 200px;
	height: 250px;
	border-radius: 20px;
	padding: 10px;
}

.divisor-perfil-box{
	border-right: 1px solid black;
	height: 405px;
	margin: 40px 60px;
}

/*-------------------------------------------------------
				INICIO TELA EDITAR PERFIL
-------------------------------------------------------*/

.editar-info-perfil{
	text-align: center;
}

.editar-info-perfil h2{
	font-size: 50px;
}

.editar-info-perfil p{
	font-size: 32px;
}

.formulario-editar-perfil{
	width: 50%;
	text-align: left;
	margin: 40px auto;
}

.formulario-editar-perfil label{
	font-size: 22px;
}

.confirma-editar{
	text-align: center;
	margin-top: 50px;
}

.confirma-editar button{
	cursor: pointer;
	font-weight: bold;
	color: black;
	padding: 7px 0;
	border: 1px solid black;
	border-radius: 10px;
	width: 200px;
	margin: 0 auto;
	background-color: #E5DCE0;
	font-size: 24px;
}

/*-------------------------------------------------------
					INICIO PERFIL PRIVADO
-------------------------------------------------------*/

.perfil-privado{
	text-align: center;
}

.perfil-privado p, a{
	font-size: 14px;
	font-weight: bold;
}

.info-perfil-wrapper{
	display: flex;
	justify-content: space-between;
}

.info-perfil-card{
	width: 350px;
	text-align: center;
	border: 1px solid rgba(249,249,249, 0.3);
	padding: 30px 10px;
	border-radius: 20px;
	background-color: rgba(255,255,255,0.3)
}

.info-perfil-card img{
	padding: 10px;
	width: 50%;
	border-radius: 20px;
}

.foto-perfil-box button{
	border-radius: 30px;
	padding: 10px 25px;
	font-weight: bold;
	border: none;	
	background-image: linear-gradient(to right, white 0%, #F5F7F9  51%, #E5E9EE  100%);
	cursor: pointer;
	-webkit-box-shadow: -2px 11px 5px -9px rgba(0,0,0,0.75);
	-moz-box-shadow: -2px 11px 5px -9px rgba(0,0,0,0.75);
	box-shadow: -2px 11px 5px -9px rgba(0,0,0,0.75);
}

.extra-info-perfil-box{
	width: 250px;
}

.extra-info-perfil-box p{
	text-align: left;
}

.exp-info-formacao{
	text-align: left;
}

.avaliacao-perfil-box i{
	color: #A8C3D8;
}

.icon-exp-wrapper{
	display: flex;
	justify-content: space-between;
}

.icon-exp-box{
	width: 70px;
	height: 70px;
	background-color: #A8C3D8;
	border-radius: 10px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

.icon-exp-box p{
	text-align: center;
}

.info-tarefas-perfil-box{
	text-align: left;
}

.info-tarefas-perfil-box label{
	font-weight: bold;
}

.info-perfil-disponibilidade-wrapper{
	width: 400px;
	text-align: left;
	margin: 20px 0;
}

.info-perfil-disponibilidade-card{
	background-color: rgba(255,255,255,0.3);
	border-radius: 10px;
	padding: 10px;
}

.info-perfil-disponibilidade-card th{
	padding-left: 3px;
}

td{
	padding-bottom: 10px!important;
}

.info-perfil-disponibilidade-card th, td{
	width: 100px;
}

.check-info-perfil-disponibilidade{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: #A8C3D8;
}

.uncheck-info-perfil-disponibilidade{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: #C4C4C4;
}

.perfil-privado > button{
	border-radius: 10px;
	border: 1px solid black;
	font-size: 20px;
	font-weight: bold;
	background-color: #E6DCDF;
	padding: 10px;
	margin-bottom: 20px;
	cursor: pointer;
}

.descricao-perfil-privado{
	resize: none;
	width: 200px;
	height: 100px;
	margin-top: 10px;
	padding: 5px;
	background-color: rgba(255,255,255,0.3);
	border:none;
}

/*-------------------------------------------------------
					MEDIA QUERIES
-------------------------------------------------------*/

@media screen and (max-width: 1024px){
	.info-perfil-wrapper{
		flex-direction: column; 
		align-items: center;
	}

	.info-perfil-disponibilidade-wrapper{
		width: 90%;
		margin-left: 0;
		margin: 20px auto;
	}

	.selecionar-perfil-wrapper{
		flex-direction: column;
	}

	.divisor-perfil-box{
		display: none;
	}
}

